<div class="container-fluid mt-3 d-flex justify-content-center">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <mat-card class="example-card">
            <div class="d-flex justify-content-center mt-2">
                <img mat-card-image src="/assets/adapter-mini.png" class="image-case">
              </div>       
            <mat-card-header>
              <mat-card-title class="mt-2 mb-2 title">Adapter</mat-card-title>
            </mat-card-header>      
            <mat-card-content>
              <ul>
                <li>
                    <span class="sub-title">Definición: </span>Permite la colaboración entre clases con interfaces incompatibles mediante una clase adaptadora.
                </li>
                <li>
                    <span class="sub-title">Problema: </span>Integrar componentes antiguos o de terceros.
                </li>
                <li>
                    <span class="sub-title">Ventajas: </span>Reutilización sin modificar código original.
                </li>
                <li>
                    <span class="sub-title">Desventajas: </span>Puede volverse complejo si se abusa.
                </li>
                <li>
                    <span class="sub-title">Usos: </span>Librerías externas, APIs antiguas.
                </li>
                <li>
                    <span class="sub-title">Patrones relacionados: </span>Bridge, Decorator.
                </li>
              </ul>
            </mat-card-content>
          </mat-card> 
        </div>
        <div class="carousel-item">
          <mat-card class="example-card">
            <div class="d-flex justify-content-center mt-2">
                <img mat-card-image src="/assets/bridge-mini.png" class="image-case">
              </div>       
            <mat-card-header>
              <mat-card-title class="mt-2 mb-2 title">Bridge</mat-card-title>
            </mat-card-header>      
            <mat-card-content>
              <ul>
                <li>
                    <span class="sub-title">Definición: </span>: Desacopla una abstracción de su implementación, permitiendo variar ambas de forma independiente.
                </li>
                <li>
                    <span class="sub-title">Usos: </span>Interfaces gráficas multiplataforma.
  
                </li>
                <li>
                    <span class="sub-title">Ventajas: </span>Escalabilidad, evita herencia múltiple.
                </li>
                <li>
                    <span class="sub-title">Desventajas: </span>Diseño inicial más complejo.
                </li>
                <li>
                    <span class="sub-title">Patrones relacionados: </span>Adapter, Strategy.
                </li>
              </ul>
            </mat-card-content>
          </mat-card> 
        </div>
        <div class="carousel-item">
          <mat-card class="example-card">
            <div class="d-flex justify-content-center mt-2">
                <img mat-card-image src="/assets/composite-mini.png" class="image-case">
              </div>       
            <mat-card-header>
              <mat-card-title class="mt-2 mb-2 title">Composite</mat-card-title>
            </mat-card-header>      
            <mat-card-content>
              <ul>
                <li>
                    <span class="sub-title">Definición: </span>Permite tratar objetos individuales y grupos de objetos de forma uniforme.
                </li>
                <li>
                    <span class="sub-title">Usos: </span>Representar jerarquías (menús, carpetas).
                </li>
                <li>
                    <span class="sub-title">Ventajas: </span>Operaciones recursivas simples.
                </li>
                <li>
                    <span class="sub-title">Desventajas: </span>Puede ser difícil restringir componentes.              </li>
                <li>
                    <span class="sub-title">Patrones relacionados: </span>Iterator, Visitor.
                </li>
              </ul>
            </mat-card-content>
          </mat-card> 
        </div>
        <div class="carousel-item">
          <mat-card class="example-card">
            <div class="d-flex justify-content-center mt-2">
                <img mat-card-image src="/assets/decorator-mini.png" class="image-case">
              </div>       
            <mat-card-header>
              <mat-card-title class="mt-2 mb-2 title">Decorator</mat-card-title>
            </mat-card-header>      
            <mat-card-content>
              <ul>
                <li>
                    <span class="sub-title">Definición: </span>Agrega responsabilidades a un objeto de manera dinámica sin modificar su clase.
                </li>
                <li>
                    <span class="sub-title">Ventajas: </span>Más flexible que la herencia.
                </li>
                <li>
                    <span class="sub-title">Desventajas: </span>Difícil rastrear comportamiento con muchos decoradores.              </li>
                <li>
                    <span class="sub-title">Usos: </span>Streams en Java, procesamiento de texto.
                </li>
                <li>
                    <span class="sub-title">Patrones relacionados: </span>Composite, Strategy.
                </li>
              </ul>
            </mat-card-content>
          </mat-card> 
        </div>
        <div class="carousel-item">
          <mat-card class="example-card">
            <div class="d-flex justify-content-center mt-2">
                <img mat-card-image src="/assets/facade-mini.png" class="image-case">
              </div>       
            <mat-card-header>
              <mat-card-title class="mt-2 mb-2 title">Facade</mat-card-title>
            </mat-card-header>      
            <mat-card-content>
              <ul>
                <li>
                    <span class="sub-title">Definición: </span>Proporciona una interfaz simplificada a un sistema complejo de clases.
                    </li>
                <li>
                    <span class="sub-title">Ventajas: </span>Facilita el uso de subsistemas.
                </li>
                <li>
                    <span class="sub-title">Desventajas: </span>Puede ocultar detalles importantes.              </li>
                <li>
                    <span class="sub-title">Usos: </span>Librerías o subsistemas complicados.
                </li>
                <li>
                    <span class="sub-title">Patrones relacionados: </span>Mediator, Singleton.
                </li>
              </ul>
            </mat-card-content>
          </mat-card> 
        </div>
        <div class="carousel-item">
            <mat-card class="example-card">
              <div class="d-flex justify-content-center mt-2">
                  <img mat-card-image src="/assets/flyweight-mini.png" class="image-case">
                </div>       
              <mat-card-header>
                <mat-card-title class="mt-2 mb-2 title">Flyweight</mat-card-title>
              </mat-card-header>      
              <mat-card-content>
                <ul>
                  <li>
                      <span class="sub-title">Definición: </span>Minimiza el uso de memoria compartiendo datos entre objetos similares.
                      </li>
                  <li>
                      <span class="sub-title">Ejemplo: </span>Caracteres de un procesador de texto.
                  </li>
                  <li>
                    <span class="sub-title">Ventajas: </span>Optimización de recursos.
                 </li>
                  <li>
                      <span class="sub-title">Desventajas: </span>Mayor complejidad para diferenciar estados internos.              </li>
                  <li>
                      <span class="sub-title">Usos: </span>Juegos, editores de texto.
                  </li>
                  <li>
                      <span class="sub-title">Patrones relacionados: </span>Prototype, Singleton.
                  </li>
                </ul>
              </mat-card-content>
            </mat-card> 
          </div>
          <div class="carousel-item">
            <mat-card class="example-card">
              <div class="d-flex justify-content-center mt-2">
                  <img mat-card-image src="/assets/proxy-mini.png" class="image-case">
                </div>       
              <mat-card-header>
                <mat-card-title class="mt-2 mb-2 title">Proxy</mat-card-title>
              </mat-card-header>      
              <mat-card-content>
                <ul>
                  <li>
                      <span class="sub-title">Definición: </span>Proporciona un objeto sustituto que controla el acceso a otro objeto.
                      </li>
                  <li>
                      <span class="sub-title">Tipos: </span>Virtual, remoto, de seguridad.
                  </li>
                  <li>
                    <span class="sub-title">Ventajas: </span>Control de acceso, inicialización diferida.
                 </li>
                  <li>
                      <span class="sub-title">Desventajas: </span>Añade niveles de indirección.             
                    </li>
                  <li>
                      <span class="sub-title">Usos: </span>Servicios remotos, seguridad, cache.
                  </li>
                  <li>
                      <span class="sub-title">Patrones relacionados: </span>Decorator, Adapter.
                  </li>
                </ul>
              </mat-card-content>
            </mat-card> 
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>