<div class="container-fluid mt-3">
    <div class="container">

    </div>
    <mat-card class="example-card">
        <div class="d-flex justify-content-center mt-2">
            <img mat-card-image src="/assets/structuralpattern.png" class="image-case">
          </div>       
        <mat-card-header>
          <mat-card-title class="mt-2 mb-2">Singleton</mat-card-title>
        </mat-card-header>
      
        <mat-card-content>
          <ul>
            <li>
                Definición: Garantiza que una clase tenga una única instancia y proporciona un punto de acceso global a ella.
            </li>
            <li>
                Problema que resuelve: Evita la creación múltiple de objetos que representan recursos compartidos como conexiones de base de datos.
            </li>
            <li>
                Ventajas: Control centralizado, bajo uso de memoria.
            </li>
            <li>
                Desventajas: Dificulta pruebas unitarias; puede introducir acoplamientos fuertes.
            </li>
            <li>
                Usos: Sistemas de logging, manejo de configuraciones globales, drivers.
            </li>
            <li>
                Patrones relacionados: Factory Method, Facade.
            </li>
          </ul>
        </mat-card-content>
      </mat-card>  
</div>