<div class="container-fluid mt-3">
    <div class="container">

    </div>
    <mat-card class="example-card">
        <div class="d-flex justify-content-center mt-2">
            <img mat-card-image src="/assets/structuralpattern.png" class="image-case">
          </div>       
        <mat-card-header>
          <mat-card-title class="mt-2 mb-2 title">Singleton</mat-card-title>
        </mat-card-header>
      
        <mat-card-content>
          <ul>
            <li>
                <span class="sub-title">Definición: </span>Garantiza que una clase tenga una única instancia y proporciona un punto de acceso global a ella.
            </li>
            <li>
                <span class="sub-title">Problema que resuelve: </span>Evita la creación múltiple de objetos que representan recursos compartidos como conexiones de base de datos.
            </li>
            <li>
                <span class="sub-title">Ventajas: </span>Control centralizado, bajo uso de memoria.
            </li>
            <li>
                <span class="sub-title">Desventajas: </span>Dificulta pruebas unitarias; puede introducir acoplamientos fuertes.
            </li>
            <li>
                <span class="sub-title">Usos: </span>Sistemas de logging, manejo de configuraciones globales, drivers.
            </li>
            <li>
                <span class="sub-title">Patrones relacionados: </span>Factory Method, Facade.
            </li>
          </ul>
        </mat-card-content>
      </mat-card>  
</div>