<div class="container-fluid">
    <div class="title w-100 d-flex justify-content-center mt-4">
        <h1>
            Patrones de diseño
        </h1>        
    </div>
    <div class="information mt-2">
        <h2>🎉 ¡Bienvenido/a!</h2><br>
           <p>Este sitio está dedicado a explorar los Patrones de Diseño de Software, explicando su utilidad, clasificación y cómo implementarlos de forma efectiva.</p> 
    </div>
    <div>
        <div class="button row">
            <button class="btn btn-primary icon-button" type="button">
                                            <img class="icon" src="/assets/start.png" alt="">
                                            <span class="text">Vamos a empezar!</span>
            </button>
          </div>
    </div>
</div>