.logo{
    width: 20%;
    cursor: pointer;
}   
.navbar-nav{
    margin-right: 10px !important;
}
.subtitles{
    cursor: pointer;
}
.subtitles:hover{
    color: white;
    a{
        color:#777CE0;
    }
}
.arrow{
    height: 35px;
}