<div class="container-fluid">
    <div class="title mt-2">
        <h2>
            ¿Qué son los patrones de diseño?
        </h2>
    </div>
    <div class="description mt-3">
        <p>
            Los patrones de diseño son soluciones reutilizables y probadas para problemas comunes que se presentan de manera recurrente durante el desarrollo de software. No son fragmentos de código, sino esquemas o guías que pueden adaptarse a diferentes contextos. Su propósito es mejorar la mantenibilidad, reutilización, escalabilidad y claridad del código.
        </p>
        <div class="body-patters">
            <div class="row">
                <div class="col-4">
                    <mat-card class="example-card" [routerLink]="['/creational-patterns']">
                        <img mat-card-image src="/assets/logo.png">
                        
                        <mat-card-header>
                          <mat-card-title class="mt-2 mb-2">PATRONES CREACIONALES</mat-card-title>
                        </mat-card-header>
                      
                        <mat-card-content>
                          <p class="ellipsis-multiline">
                            Los patrones creacionales se centran en el proceso de creación de objetos, permitiendo mayor flexibilidad al decidir cómo, cuándo y con qué componentes se crean las instancias de una clase. Esto es fundamental en arquitecturas complejas, donde el instanciamiento directo podría acoplar demasiado el sistema.
                          </p>
                        </mat-card-content>
                      </mat-card>                      
                </div>
                <div class="col-4">
                    <mat-card class="example-card" [routerLink]="['/structural-patterns']">
                        <div class="d-flex justify-content-center mt-2">
                          <img mat-card-image src="/assets/structuralpattern.png" class="structural-image">
                        </div>                       
                        
                        <mat-card-header>
                          <mat-card-title class="mb-2">PATRONES ESTRUCTURALES</mat-card-title>
                        </mat-card-header>
                      
                        <mat-card-content>
                          <p class="ellipsis-multiline">
                            Los patrones estructurales definen cómo se relacionan clases y objetos entre sí, facilitando la composición de estructuras más flexibles y reutilizables sin alterar sus componentes individuales.
                          </p>
                        </mat-card-content>
                      </mat-card>
                </div>
                <div class="col-4">
                    <mat-card class="example-card">
                      <div class="d-flex justify-content-center mt-2">
                        <img mat-card-image src="/assets/comportamiento_pattern.jpeg" class="compor-image">
                      </div> 
                        
                        <mat-card-header>
                          <mat-card-title class="mt-2 mb-2">PATRONES DE COMPORTAMIENTO</mat-card-title>
                        </mat-card-header>
                      
                        <mat-card-content>
                          <p class="ellipsis-multiline">
                            Estos patrones se enfocan en la comunicación entre objetos, organizando las responsabilidades y el flujo de control para lograr un sistema más cohesionado y flexible.
                          </p>
                        </mat-card-content>
                      </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>