<div class="container-fluid">
    <div class="title mt-2">
        <h2>
            ¿Qué son los patrones de diseño?
        </h2>
    </div>
    <div class="description mt-3">
        <p>
            Los patrones de diseño son soluciones reutilizables y probadas para problemas comunes que se presentan de manera recurrente durante el desarrollo de software. No son fragmentos de código, sino esquemas o guías que pueden adaptarse a diferentes contextos. Su propósito es mejorar la mantenibilidad, reutilización, escalabilidad y claridad del código.
        </p>
        <div class="body-patters">
            <div class="row">
                <div class="col-4">
                    <mat-card class="example-card">
                        <img mat-card-image src="/assets/logo.png" alt="Ejemplo de patrón">
                        
                        <mat-card-header>
                          <mat-card-title>PATRONES CREACIONALES</mat-card-title>
                        </mat-card-header>
                      
                        <mat-card-content>
                          <p>
                            Este patrón garantiza que una clase solo tenga una instancia y proporciona un punto de acceso global a ella.
                          </p>
                        </mat-card-content>
                      </mat-card>
                      
                </div>
                <div class="col-4">
                    <mat-card class="example-card">
                        <img mat-card-image src="/assets/logo.png" alt="Ejemplo de patrón">
                        
                        <mat-card-header>
                          <mat-card-title>PATRONES ESTRUCTURALES</mat-card-title>
                        </mat-card-header>
                      
                        <mat-card-content>
                          <p>
                            Este patrón garantiza que una clase solo tenga una instancia y proporciona un punto de acceso global a ella.
                          </p>
                        </mat-card-content>
                      </mat-card>
                </div>
                <div class="col-4">
                    <mat-card class="example-card">
                        <img mat-card-image src="/assets/logo.png" alt="Ejemplo de patrón">
                        
                        <mat-card-header>
                          <mat-card-title>PATRONES DE COMPORTAMIENTO</mat-card-title>
                        </mat-card-header>
                      
                        <mat-card-content>
                          <p>
                            Este patrón garantiza que una clase solo tenga una instancia y proporciona un punto de acceso global a ella.
                          </p>
                        </mat-card-content>
                      </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>