.container-fluid{
    margin-top: 5px;
    background-color: #f8f9fa;
    height: 12vh;
    background-color: rgba(119,124,224, 0.2);
}
.row{
    height: 100%;
    align-items: center;
    font-weight: bold;
}