<div class="container-fluid d-flex justify-content-center mt-3">
    <mat-card class="example-card">
        <div class="d-flex justify-content-center mt-2">
            <img mat-card-image src="/assets/structuralpattern.png" class="image-case">
          </div>       
        <mat-card-header>
          <mat-card-title class="mt-2 mb-2 title">Recursos</mat-card-title>
        </mat-card-header>      
        <mat-card-content>
            <ul>
                <li>
                  <a href="https://refactoring.guru/design-patterns/creational-patterns" target="_blank">
                    Refactoring.Guru - "Creational Design Patterns"
                  </a>
                </li>
                <li>
                  <a href="https://www.baeldung.com/creational-design-patterns" target="_blank">
                    Baeldung - "Introduction to Creational Design Patterns"
                  </a>
                </li>
                <li>
                  <a href="https://refactoring.guru/design-patterns/structural-patterns" target="_blank">
                    Refactoring.Guru - "Structural Design Patterns"
                  </a>
                </li>
                <li>
                  <a href="https://javatechonline.com/structural-design-patterns-in-java/" target="_blank">
                    JavaTechOnline - "Structural Design Patterns In Java"
                  </a>
                </li>
                <li>
                  <a href="https://refactoring.guru/design-patterns/behavioral-patterns" target="_blank">
                    Refactoring.Guru - "Behavioral Design Patterns"
                  </a>
                </li>
                <li>
                  <a href="https://javatechonline.com/behavioral-design-patterns-in-java/" target="_blank">
                    JavaTechOnline - "Behavioral Design Patterns In Java"
                  </a>
                </li>
              </ul>
              
        </mat-card-content>
      </mat-card> 
</div>